/* Desenvolva sua estilização aqui...*/
.homePage{
    background-color: var(--color-brand-1);

}
.main{
    width: 50%;
    height: 770px;
    max-height: 100%;
}

.section{
    width: 50%;
    height: 770px;
    max-height: 100%;
}

.pastUsers{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.pastUserCard{
height: 70px;
width: 70px;
}
.pastUserImg{
    display: flex;
    width: 100%;
    cursor: pointer;
}
