.fixed{
    position: fixed;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.sticky{
    position: sticky;
}

.float-right{
    float: right;
}
.float-left{
    float: left;
}